@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-syne);
}

:root {
  --font-syne: ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  * {
    @apply antialiased;
  }
}
