@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-geist-sans: ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: ui-monospace, monospace;
}

@layer base {
  * {
    @apply antialiased;
  }
}
